.Card-Container {
    max-width: 650px;
    margin-bottom: 25px;
    background-color: #242526 !important;
}

.Polaris-Card {
    background-color: #18191b !important;
}

.Polaris-MediaCard {
    display: block;
}

.Polaris-Card__Section {
    padding: 10px;
    margin-bottom: 15px;
}